<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<style>
    ul{
        display: flex;
        gap:20px;
        justify-content: center;
        align-items:center;

    }
    a{
        font-size:25px;
    }
</style>
<body>
    <ul style="list-style: none; text-decoration:none;">
        <li><a href="/">Home</a></li>
        <li><a href="/nav/contact/">Contact</a></li>
        <li><a href="/nav/about/">About</a></li>
        <h1 style="text-align:center;">The About page</h1>
    </ul>
</body>
</html>